@media (max-width: 767px) {
    .container,
	.container-fluid, 
	.container-sm,
	.container-md,
	.container-lg, 
	.container-xl {
		width: 100%;
		padding-right: var(--bs-gutter-x, 15px);
		padding-left: var(--bs-gutter-x, 15px);
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}
    .navbar-toggle-for-mobile{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffff;
        z-index: 1000;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
    }
    .navbar-toggle-for-mobile .mt-5{
        margin-top: 0px!important;
    }
    .header-section .padding-for{
        padding: 5px 16px;
    }
    .navbar-toggle-for-mobile .gap-3 {
        gap: 0px!important;
    }
    .navbar-toggle-for-mobile li.padding-for {
        border-bottom: 1px solid #eee;        
    }
    .header-section .main-navbar .navbar-toggle-for-mobile li,
    .header-section .main-navbar .navbar-toggle-for-mobile li a,
    .header-section .main-navbar .navbar-toggle-for-mobile li button
    {
        font-size: 18px;
        font-weight: 400;      
    }
    .header-section .main-navbar .custom-nav .sub-menu{
        border-left: unset;
        padding: 2px 20px;
    }
    .header-section .main-navbar .custom-nav .sub-menu a::before, .header-section .main-navbar .custom-nav .sub-menu button::before{
        content: "";
        position: absolute;
        background-color: var(--bg--black);
        width: 16px;
        height: 1px;
        left: -20px;
        top: 10px;
        z-index: 1;
    }
    .sub-menubg {
        background-color: #ffffff;
    }
    .header-section {
        padding-top: 5px;
        padding-bottom: 5px;
        /* position: absolute; */
    }

    .header-section .nav-brand {
        width: 120px;
        max-width: 120px;
    }

    #banner .container,
    #banner .common-container {
        padding: 0px 10px;
        text-align: center;
        position: relative;
        height: auto;
        bottom: 0px;

    }

    #banner .bannerTextBox {
        width: 100%;
        padding-bottom: 50px;
        display: block;
    }

    #banner .bannerTextBox h3 {
        color: #ffffff;
        font-family: "Roboto", Sans-serif;
        font-size: 23px;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 30px;
    }

    .mobileBanner {
        display: block !important
    }

    #banner img {
        width: 100%;
        height: 380px;
        object-fit: cover;
    }

    #banner .bannerTextBox h3 {
        padding-top: 24px;
    }

    #banner,
    #banner .swiper-slide {
        height: auto;
        background-color: #000000
    }

    #banner .swiper-slide {
        background-color: #000000;
        height: auto;
    }

    #banner [class^="swiper-button-"] {
        display: none
    }

    #banner .banner3 {
        position: relative
    }

    #banner .banner3:before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%
    }
    .our-courses, 
    .about-us-section,
    .why-choose-us,
    .google-reviews-section,
    .resister-today-section{
        padding: 35px 0; 
    }

    .about-us .fs-two,
    .contact-us-page .fs-two {
        font-size: 25px;
        line-height: 30px;
        text-transform: capitalize;
    }
    .our-courses .fs-two,
    .google-reviews-section .fs-two,
    .why-choose-us .fs-two, 
    .resister-today-section .fs-two{
        font-size: 25px;
        line-height: 30px;
        text-transform: capitalize;
    }

    .awards-area.mt-15 {
        margin-top: 10px!important;
    }

    .home-video-section .col-20 {
        flex: 0 0 auto;
        width: 50%;
    }
    .eaight-style .video-wrapper {
        padding-right: 5px;
        padding-left: 5px;
    }
    .video-wrapper {
        margin-bottom: 0px;
    }
    .footer-section .footer-logo,
    .footer-section .footer-title-area,
    .footer-section .address-area{
        text-align: center;
    }
    .footer-section .social-area {
        justify-content: center!important;
    }
    .footer-links-area .d-grid .d-flex{
        justify-content: center!important;
    }
    .footer-section .cus-row .footer-links {
        width: 50% !important;
    }
    .footer-heading-area {
        font-size: 20px;
    }
    .footer-section .gap-3,
    .footer-section .gap-4 {
        gap: 5px !important;
    }
    .copyright span,
    .copyright p,
    .copyrightp a{
        font-size: 16px;
    }
    .banner-section.inner-banner{
        padding-top: 15px!important;
        padding-bottom: 15px!important;
    }
    .breadcrumb-area .breadcrub-title {
        font-size: 22px;
        line-height: 25px;
    }
    .pb-60 {
        padding-bottom: 30px;
    }
    .pt-60 {
        padding-top: 30px;
    }
    .about-us .pt-30{
        padding-bottom: 15px;
    }
    .about-us .col-6{
        margin-bottom: 10px;
    }
    .feature-bx1:after {
        content: "";
        width: 58px;
        height: 80px;
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        top: -8px;
        left: -12px;
    }
    .feature-bx1 .icon-content .ttr-title {
        font-size: 16px;
        margin: 0;
    }
    .media-box-image .col-md-4 {
        padding-right: 10px;
        padding-left: 10px;
    }
    .media-box-image figure {
        margin: 0 0 5px;
    }
    .enquiry-form:after {
        content: "";
        position: absolute;
        top: -20px;
        left: 1px;
        border-radius: 40px;
        width: 100%;
        height: 100%;
        border: 2px solid #000000;
        z-index: -1;
    }
    .course-de-ti .cou-title {
        color: #000000;
        font-family: "Roboto", Sans-serif;
        font-size: 22px;
        font-weight: 500;
    }
    .course-details h4, .course-details h5, .course-details h6 {
        color: #000000;
        font-family: "Roboto", Sans-serif;
        font-size: 18px;
        font-weight: 400;
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
    }
    .course-details h1, .course-details h2, .course-details h3 {
        color: #000000;
        font-family: "Roboto", Sans-serif;
        font-size: 20px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        padding-bottom: 15px;
    }
    .ttr-accordion1 .accordion-body {
        padding: 10px;
    }
    .ttr-accordion1 .accordion-button {
        background-color: #E0E0E0;
        font-weight: 600;
        color: var(--bg--black);
        border-radius: 8px !important;
        border: 0;
        padding: 10px 20px;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
        font-size: 18px;
    }
    .aboutimg .ms-4 {
        margin-left:2px !important;
    }
    .mobile-sidebar-bg-color{
        background-color: #ffffff;
        padding: 10px;
        border-radius: 10px;
    }
    .benefit-item{
        align-items: center;
    }
    .benefit-content h3 {
        margin: 0 0 2px 0;
        font-size: 18px;
    }
    .benefit-content p {
        line-height: 20px;
    }
    .course_duration_wrapper{
        gap: 10px;
        padding: 0px;
    }
    .cou-mobile-title{
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .for-left-image{
        margin-right: 0px;
        float: none;
        margin-left: 0px;
    }
    .course-addition-section.eaightcoloumn{
        margin-top: 50px;
    }

    .course-addition-section{
        margin-top: 5px;
    }

    .course-post-data{
        padding-top: 20px;
    }
    
    .co-image-i {
        display: flex;
        justify-content: center;
    }
    .course-details div{
        text-align: unset;
    }
    .ttr-post-text.blog-post-data ul li{
        text-align: left;
    }
    
}